extends layout

block content
  h1(style="padding-top:50px") Please insert specific _id
  form(action="/api/v1/edit/each" method='post', enctype='multipart/form-data' style="padding-top:50px")
    .row
      .col-md-3
        input(type="text" name="id" placeholder="_id" )
        input(type="text" name="title" placeholder="Title" )
        input(type="text" name="desc" placeholder="Describe" )
        input(type="number" name="price" placeholder="Price" )
        input(type='file', name='image')
        input(type='submit', name='upload', value='Upload Image')
        message= message
        if message
          p message