nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      #main-navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/api/v1/add") Add
          li.nav-item
            a.nav-link(href="/api/v1/edit") Edit
          li.nav-item
            a.nav-link(href="/api/v1/delete") Delete
          li.nav-item
            a.nav-link(href="/api/v1/get/all") Get
        